
        .btn{
            padding: 10px 14px;
            color: #FF3300;
            border:1px solid #FF3300;
            margin: 30px;
            position: relative;
            z-index: 1;
            transition: color 2s linear;
            font-size: 1em;
            font-weight: bolder;
        }

        .btn::after{
            content: '';
            width: 0%;
            height: 100%;
            background-color: #FF3300;
            position: absolute;
         /* top: 50%;
            right: 50%; */
         /* transform: translateY(-50%); */

         /* Another animation in just few changes */
            top: 0%;
            right: 0%;
            z-index: -1 ;
            transition: width 2s linear;
        }

        .btn:hover{
            color: wheat;
        }

        .btn:hover::after{
            width: 50%;
        }

        .btn::before{
            content: "";
            width: 0%;
            height: 100%;
            position: absolute;
            background-color: red;

         /* top: 50%;
            left: 50%; */
         /* transform: translateY(-50%); */
         /* Another animation in just few changes */

            top: 0%;     
            left: 0%;
            transition: all 2s linear;
            z-index: -1;
        }

        .btn:hover::before{
            width: 50%;
        }

